<div class="panel-body">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Descrição</th>
                <th>Icone</th>
            </tr>
            </thead>
            <tbody>

            <tr><td>fa fa-server</td><td><span class="fa fa-server"></span></td></tr>

            <tr><td>fa fa-desktop</td><td><span class="fa fa-desktop"></span></td></tr>

            <tr><td>fa fa-database</td><td><span class="fa fa-database"></span></td></tr>

            <tr><td>fa fa-television</td><td><span class="fa fa-television"></span></td></tr>

            <tr><td>fa fa-tablet</td><td><span class="fa fa-tablet"></span></td></tr>

            <tr><td>fa fa-sitemap</td><td><span class="fa fa-sitemap"></span></td></tr>

            <tr><td>fa fa-laptop</td><td><span class="fa fa-laptop"></span></td></tr>

            <tr><td>fa fa-print</td><td><span class="fa fa-print"></span></td></tr>

            <tr><td>fa fa-mobile</td><td><span class="fa fa-mobile"></span></td></tr>

            <tr><td>fa fa-battery-half</td><td><span class="fa fa-battery-half"></span></td></tr>

            <tr><td>glyphicon glyphicon-cd</td><td><span class="glyphicon glyphicon-cd"></span></td></tr>

            <tr><td>fa fa-hdd-o</td><td><span class="fa fa-hdd-o"></span></td></tr>

            <tr><td>fa fa-keyboard-o</td><td><span class="fa fa-keyboard-o"></span></td></tr>

            <tr><td>fa fa-camera</td><td><span class="fa fa-camera"></span></td></tr>

            <tr><td>fa fa-fax</td><td><span class="fa fa-fax"></span></td></tr>

            <tr><td>fa fa-headphones</td><td><span class="fa fa-headphones"></span></td></tr>

            <tr><td>fa fa-video-camera</td><td><span class="fa fa-video-camera"></span></td></tr>

            <tr><td>fa fa-wifi</td><td><span class="fa fa-wifi"></span></td></tr>

            <tr><td>glyphicon glyphicon-signal</td><td><span class="glyphicon glyphicon-signal"></span></td></tr>

            </tbody>
        </table>
    </div>

</div>
