/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
/web/anexos/acompanhamentos/*
/web/anexos/backup/*
/web/anexos/restore/*
/web/anexos/equipamentos/*
/web/anexos/backupcompartilhado/*
/app/sessions/*
!app/sessions/.gitkeep