# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # BaseURL para anexos, depende qual o nome da pasta do servidor
    base_url: inventario

    # indicar qual ambiente será usado
    enviroment: 'Homologacao'

    #Informacoes sobre o sistema na tela inicial
    company:
    phrase:
    version:
    teamcreator:
    # Determina se no modulo de ips deve ser feito ping na consulta
    do_ping: false
    #App color
    color: green
    #Tipos de Equipamentos para a criação do Job
    tiposequipamentos: [3, 13]
    #Nome do Status para marcar como vermelho a linha no Registro Backup e Restore
    status_falha: 'FALHA'
    #Habilita a importacao ou não em cadastros base
    importacao: 'FALSE'
    #Habilita ou não o menu de gestão de dados
    gestao_dados: false
    #Habilita ou não o menu gestão de IPs
    gestao_ip: false
