<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1">

    </div>

    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">

        <div class="callout callout-warning">
            <h4>
                <i class="icon fa fa-warning"></i>
                Houve um erro ao tentar executar essa ação!
            </h4>

            <p>Clique abaixo para voltar.</p>

        </div>

        <a href="javascript:window.history.go(-1)" class="btn btn-primary btn-sm">
            <i class="fa fa-reply"></i>
            Voltar
        </a>


    </div>

    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1">

    </div>

</div>